@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

* {
    margin: 0;
    padding: 0;
  }

  
  .container{
  margin: 0 auto;
  max-width: 945px;
  }
  
  .container-header > ul > li > a{
      text-decoration: none;
      color: #828282;
      font-family: 'Gilroy-Bold', serif
  }
  
  .container-header > ul{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }
  .container-header > ul > li {
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    /* Black */
  }

  .container-header > ul > li > .active{
    color: #070707;
    }

  .info-header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

h1{
    width: 5em;
    font-family: 'Gilroy-Bold', serif;
}

.p1{
    width: 10em;
    font-family: 'Gilroy-Medium', serif;
}

.p2{
    transform: rotate(270deg);
    height: 10px;
    margin: 30px 0 0 0;
    font-family: 'Gilroy-Bold', serif;
}

.info-header > p > a{
  color: #070707;
  text-decoration: none;
  font-weight: 700;
}

.info-header > p > .a1{
  color: gray;
  text-decoration: none;
  font-weight: 700;
}
  
  .about-me {
    margin-top: 95px;
    background-color: whitesmoke;
  }

  .about-description{
    max-width: 485px;
    padding: 60px 0;
  }
  
  .about-description > h2{
    text-align: center;
    font-family: 'Gilroy-Bold', serif;
  }

  .about-description > p{
    text-align: center;
    max-width: 450px;
    margin: 20px 0;
    font-family: 'Gilroy-Medium', serif;
  }

  .skills-text{
    padding: 60px 0;
  }

  .skills-text > h2{
    text-align: center;
    font-family: 'Gilroy-Bold', serif;
  }

  .skills-text> p{
    text-align: center;
    margin: 70px;
    font-family: 'Gilroy-Medium', serif;
  }

  .skills-ex{
    display: flex;
    justify-content: space-between;
  }

  .skills-ex > img{
    max-width: 155px;
    max-height: 200px;
    padding: 0 40px;
  }

  .portfolio {
    margin-top: 95px;
    background-color: whitesmoke;
  }

  .portfolio-ex > h2{
    text-align: center;
    padding: 115px 0 65px 0;
    font-family: 'Gilroy-Bold', serif;
  }

  .portfolio-ex > p{
    text-align: center;
    padding: 40px 0 100px 0;
    color: #070707;
    font-family: 'Gilroy-Medium', serif;
  }

  .portfolio-ex > p > a{
    color: #070707;
  }

  .contacts-cen{
    max-width: 345px;
  }

  .contacts-cen > h2{
    text-align: center;
    padding: 115px 0 0 0 ;
    font-family: 'Gilroy-Bold', serif;
  }

  .contacts-cen > .p4{
    text-align: center;
    padding: 35px 0 40px 0 ;
    max-width: 14em;
    margin: auto;
    font-family: 'Gilroy-Medium', serif;
  }

  .contacts-cen > .btn *{
    display: flex;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    color: white;
    background: black;
    border-radius: 50px;
    max-width: 140px;
    font-size: 20px;
    margin-left: 80px;
    margin-bottom: 80px;
    text-align: center;
    align-items: center;
    font-family: 'Gilroy-Bold', serif;
    text-decoration: none;
  }

  .contacts-cen > .sources{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .contacts-cen > .p5{
    text-align: center;
    max-width: 14em;
    margin: auto;
    font-size: 12px;
    font-family: 'Gilroy-Medium', serif;
  }

  .contacts-cen > .p6{
    text-align: center;
    margin-left: 20px;
    margin-bottom: 125px;
    font-size: 12px;
    font-family: 'Gilroy-Medium', serif;
  }

  @media (max-width: 500px) { 
  .container-header > ul{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
   }