@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

* {
    margin: 0;
    padding: 0;
  }

  a:hover{
    background: thistle;
  }
  .btn:hover {
    opacity: 0.9;
  }
  
  .container{
    margin: 0 auto;
    max-width: 945px;
    }

    .header{
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 50;
    }

    .header:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: white;
      z-index: 2;
    }

    .header_body{
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 60px;
      align-items: center;
    }

    .header_burger{
      display: none;
    }

    .p3{
      display: none;
    }

    .header_menu{}

    .header_list{
      width: 930px;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 2;
    }

    .header_list li{
      list-style: none;

    }

    .header_link{
      color: #828282;
      text-transform: uppercase;
      font-size: 18px;
      text-decoration: none;
    }

    .info-header{
      display: flex;
      justify-content: space-between;
      padding: 100px 0;
      
  }
  

    @media (max-width: 767px){
      body.lock{
        overflow: hidden;
      }
      .header_body{
        height: 50px;
        justify-content: end;
      }

      .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
      }
      .header_burger span{
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
      .header_burger:before,
      .header_burger:after{
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      .header_burger:before{
        top: 0;
      }
      .header_burger:after{
        bottom: 0;
      }
      .header_burger.active span{
        transform: scale(0);
      }
      .header_burger.active:before{
        transform: rotate(45deg);
        top: 9px;
      }
      .header_burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
      }
      .header_menu{
        position: fixed;
        top: -100%;
        right: 0;
        width: 21%;
        height: 100%;
        overflow: auto;
        background-color: white;
        padding: 70px 10px 20px 10px ;
      }
      .header_menu.active{
        top: 0;
        width: 98%;
      }
      .header_list{
        display: block;
        width: 100%;
      }
      .header_list li{
        margin: 0 0 20px 0;
      }
      .header_link{
        font-size: 24px;
      }
      .p3{
        display: block;
        z-index: 4;
        position: absolute;
        right: 0;
        transform: rotate(-270deg);
      }

      .p3 > a{
        text-decoration: none;
        color: gray;
        font-family: 'Gilroy-Bold', serif;
      }

      .p2{
        display: none;
      }

      .info-header{
        display: block;
        flex-flow: column;
        padding: 0 0 100px 0;
      }

      .info-header > h1{
        max-width: 100px;
        z-index: 4;
      }
    }


h1{
    width: 5em;
    font-family: 'Gilroy-Bold', serif;
}

.p1{
  padding: 15px 0 0 0;
    width: 10em;
    font-family: 'Gilroy-Medium', serif;
}

.p2{
    transform: rotate(270deg);
    height: 10px;
    margin: 30px 0 0 0;
    font-family: 'Gilroy-Bold', serif;
}



.info-header > p > a{
  color: #070707;
  text-decoration: none;
  font-weight: 700;
}

.info-header > p > .a1{
  color: gray;
  text-decoration: none;
  font-weight: 700;
}

.mobile{
  display: none;
}

@media (max-width: 767px){
  .screen{
    display: none;
  }
  .mobile{
    display: block;
    width: 100%;
  }
}
  
  .about-me {
    margin-top: 95px;
    background-color: whitesmoke;
  }

  .about-description{
    max-width: 485px;
    padding: 60px 0;
  }
  
  .about-description > h2{
    text-align: center;
    font-family: 'Gilroy-Bold', serif;
    margin: 0 0 20px 0;
  }

  .about-description > p{
    text-align: center;
    max-width: 450px;
    margin: 0 0 20px 0;
    font-family: 'Gilroy-Medium', serif;
  }

  .skills-text{
    padding: 60px 0;
  }

  .skills-text > h2{
    text-align: center;
    font-family: 'Gilroy-Bold', serif;
  }

  .skills-text> p{
    text-align: center;
    margin: 70px;
    font-family: 'Gilroy-Medium', serif;
  }

  .skills-ex{
    display: flex;
    justify-content: space-between;
  }

  .skills-ex > .photoS > p {
    text-align: center;
    margin: 21px auto;
    font-family: 'Gilroy-Bold', serif;
    color: #828282;
    max-width: 75px;
  }

  .skills-ex > .photoS > .av > img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin: auto;
  }

  .skills-ex > .photoS > .st1 > img {
    padding: 0 5px;
   }

   .skills-ex > .adil > p {
    text-align: center;
    margin: 21px auto;
    font-family: 'Gilroy-Bold', serif;
    color: #828282;
    max-width: 75px;
  }

  .skills-ex > .adil > .av1 > img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin: auto;
  }

  .skills-ex > .adil > .st2 > img {
    padding: 0 5px;
   }

   .skills-ex > .afef > p {
    text-align: center;
    margin: 20px auto;
    font-family: 'Gilroy-Bold', serif;
    color: #828282;
    max-width: 90px;
  }

  .skills-ex > .afef > .av2 > img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin: auto;
  }

  .skills-ex > .afef> .st3 > img {
    padding: 0 5px;
   }


   .skills-ex > .figm > p {
    text-align: center;
    margin: 30px auto;
    font-family: 'Gilroy-Bold', serif;
    color: #828282;
    max-width: 75px;
  }

  .skills-ex > .figm > .av3 > img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin: auto;
  }

  .skills-ex > .figm > .st4 > img {
    padding: 0 5px;
   }

   @media (max-width: 767px){
    .skills-ex{
      display: flex;
      flex-flow: column;
    }
    .st1{
      text-align: center;
      margin-bottom: 20px;
    }
    .st2{
      text-align: center;
      margin-bottom: 20px;
    }
    .st3{
      text-align: center;
      margin-bottom: 20px;
    }
    .st4{
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .portfolio {
    margin-top: 95px;
    background-color: whitesmoke;
  }

  .portfolio-ex > h2{
    text-align: center;
    padding: 115px 0 65px 0;
    font-family: 'Gilroy-Bold', serif;
  }

  .portfolio-ex > p{
    text-align: center;
    padding: 40px 0 100px 0;
    color: #070707;
    font-family: 'Gilroy-Medium', serif;
  }

  .portfolio-ex > p > a{
    color: #070707;
  }

  @media (max-width: 767px){
    .portfolio-ex > img{
      width: 100%;
    }
  }

  .contacts-cen{
    max-width: 345px;
    margin-bottom: 120px;
  }

  .contacts-cen > h2{
    text-align: center;
    padding: 115px 0 0 0 ;
    font-family: 'Gilroy-Bold', serif;
  }

  .contacts-cen > .p4{
    text-align: center;
    padding: 35px 0 40px 0 ;
    max-width: 14em;
    margin: auto;
    font-family: 'Gilroy-Medium', serif;
  }

  .contacts-cen > .btn *{
    display: flex;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    color: white;
    padding: 15px 20px 15px 20px;
    border: none;
    cursor: pointer;
    background: black;
    border-radius: 50px;
    max-width: 200px;
    font-size: 20px;
    margin-left: 80px;
    margin-bottom: 80px;
    text-align: center;
    align-items: center;
    font-family: 'Gilroy-Bold', serif;
    text-decoration: none;
  }

  .contacts-cen > .sources{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .contacts-cen > .p5{
    text-align: center;
    max-width: 14em;
    margin: auto;
    font-size: 12px;
    font-family: 'Gilroy-Medium', serif;
  }

  .contacts-cen > .p6{
    text-align: center;
    margin-left: 20px;
    font-size: 12px;
    font-family: 'Gilroy-Medium', serif;
  }


    
   